.header {
    max-width: 1920px;
    height: 70px;
}

.header_bg_color {
    background-color: var(--white);
}

.login-button {
    font-weight: 400;
    font-size: 14px;
    position: relative;
    padding: 5px 5px 5px 25px;
}

.login-button::after {
    content: '';
    position: absolute;
    top: 14px;
    right: 51px;
    width: 16px;
    height: 6px;
    border-top: 2px solid var(--black40);
    border-right: 2px solid var(--black40);
    border-left: 2px solid var(--black40);
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.login-button::before {
    content: '';
    position: absolute;
    width: 8px;
    height: 8px;
    border: 2px solid var(--black40);
    border-radius: 50%;
    right: 55px;
    top: 4px;
}

.login-search-width {
    width: 120px;
}