.main {
    max-width: 1920px;
    height: 1120px;
    background-color: var(--black4);
}

.aside {
    width: 263px;
    height: 920px;
    background-color: var(--white);
    position: relative;
}

.main_margins {
    padding-top: 40px;
    padding-bottom: 160px;
    gap: 40px;
}

.user_card {
    display: flex;
    align-items: center;
    border-bottom: 1px solid var(--black10);
    gap: 16px;
    padding: 24px;
    height: 89px;
}

.card_word {
    width: 40px;
    height: 40px;
    background-color: var(--black8);
    align-content: center;
    text-align: center;
    font-family: "Roboto Slab", sans-serif;
    font-size: 24px;
    color: var(--black40);
}

.card_name {
    font-weight: 700;
    font-size: 16px;
}

.personal_account {
    font-weight: 400;
    font-size: 12px;
    color: var(--black60);
}

.aside_grid {
    display: grid;
    grid-template-rows: repeat(5, 40px);
    row-gap: 20px;
    margin-top: 20px;
}

.aside_menu_button {
    font-weight: 400;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 15px;
    padding-left: 22px;
}

.aside_menu_button:focus {
    border-left: 2px solid var(--button);
    color: var(--button);
}

.aside_exit_button {
    position: absolute;
    bottom: 40px;
    left: 24px;
    gap: 10px;
    font-weight: 400;
    font-size: 14px;
}

.main_right_side {
    width: 867px;
}

.right_side_top {
    padding-bottom: 32px;
    border-bottom: 1px solid var(--black10);
    height: 89px;
}

.bulletin_title {
    font-weight: 700;
    font-size: 24px;
}

.bulletin_number {
    font-weight: 400;
    font-size: 14px;
    color: var(--black60);
}

.add_button {
    width: 130px;
    height: 40px;
    padding: 8px 16px;
    background-color: var(--button);
    color: var(--white);
    font-weight: 500;
    font-size: 14px;
}

.filtration_button {
    width: 160px;
    height: 40px;
    padding: 8px 16px;
    background-color: var(--black8);
    font-weight: 500;
    font-size: 14px;
}

.gap_filtration {
    gap: 15px;
}

.page_numbers {
    font-weight: 400;
    font-size: 14px;
}

.page_button {
    color: var(--black60);
}

.page_button:focus {
    color: var(--black);
}

.filtration_margins {
    margin: 24px 0 24px 0;
}

.bulletin_search {
    width: 420px;
    height: 40px;
    border: 0;
    outline: none;
}

.bulletin_search::placeholder {
    padding-left: 16px;
    color: var(--black40);
    padding-left: 16px;
}

.for_search_position {
    position: relative;
}

.input_search_position {
    position: absolute;
    right: 0px;
    margin-right: 16px;
}

.table_grid {
    display: grid;
    grid-template-columns: 25% 20% 20% 10% auto;
    column-gap: 40px;
    padding-left: 25px;
}

.table_top {
    height: 40px;
    color: var(--black60);
    font-weight: 700;
    font-size: 12px;
}

.table_bg_color {
    background-color: var(--white);
}

.table_elements {
    margin-top: 8px;
    height: 80px;
    font-weight: 400;
    font-size: 14px;
}

.board_name {
    font-weight: 700;
}

.right_button {
    
}