html {
    box-sizing: border-box;                 /* padding и border включены в width и height. Не надо думать о размере контейнера */
}

*,
*::before,                                  /*Изучить*/
*::after {
    box-sizing: inherit;                    /* inherit - наследовать */
}

p,h1,h2,h3,h4,h5,h6 {
    margin: 0;
}

a {
    display: inline-block;
    color: inherit;
    text-decoration: none;
}

img {
    max-width: 100%;
    display: block;
    object-fit: cover;
}

body {
    min-width: 320px;
    word-break: normal;
    font-family: "Roboto", sans-serif;
}